* {
    margin: 0;
    padding: 0;
}

.background img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}
.nav {
    background-color: rgba(191, 88, 71, 0.7);
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    top: 0;
}

.navLogo img {
    height: 300px;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
}

.navList a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.navList a:hover {
    border-bottom: solid 5px white;
}

.information {
    position: relative;
}

.infoContainer {
    width: 70%;
    background-color: rgba(209, 177, 136, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25em auto 0 auto;
    border-radius: 5em;
}

.infoContent {
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.infoText {
    display: flex;
}

.infoText h3 {
    padding: 1em 1em 0 1em;
}

.infoContainer img {
    height: 600px;
    padding: 50px;
    border-radius: 5em;
}




